// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  display: block;
  position: absolute;
  padding: 0.5rem;
  width: 180px;
  right: 0;
  top: 1.1rem;
  font-family: $sans-serif;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2);
  background-color: white;
  z-index: 999;
}

#gear-dropdown-btn {

}

.dropdown-subtitle {
  text-transform: uppercase;
  padding: .2rem 0;
  font-weight: bold;
  display: inline-block;
}

.editions {
  color: $gray;
}
.gear-dropdown a {
  display: inline-block;
  padding: .2rem;
  padding-left: 0;
}

.editions a {
  display: block;
}

.editions a:hover {
  background-color: $light-gray;
  color: black;
}

.help a {
  color: $blue;
}
.help a:hover {
  text-decoration: underline;
}
