






<div class="masthead">
  <div class="language-nav">
    <ul> 
      <li>
        <a href="#">CSS</a>
      </li>
      <li>
        <a href="#">HTML</a>
      </li>
      <li>
        <a href="#">Javascript</a>
      </li>
      <li>
        <a href="#">Ruby</a>
      </li>
    </ul>
  </div>

  <img src="assets/AA_Times_Logo.png" alt="a/A Times Logo" class="logo">

  <div>
    <ul class="masthead-links">
      <li>Tuesday, October 18, 2016</li>
      <li>
        <a href="#"><i class="far fa-newspaper"></i>Today’s Paper</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-video"></i>Video</a>
      </li>
      <li>
        <button>77°F</button>
      </li>
      <li>
        <button>AAO <strong>+100%</strong></button>
      </li>
    </ul>
  </div>
</div>