
<div class="sections-nav__wrapper">
  <div class="sections-nav">
    <ul>
      <li><a href="#" class="sections-nav__links">World</a></li>
      <li><a href="#" class="sections-nav__links">San Francisco</a></li>
      <li><a href="#" class="sections-nav__links">New York</a></li>
      <li><a href="#" class="sections-nav__links">Bootcamp Prep</a></li>
      <li><a href="#" class="sections-nav__links">Jumpstart</a></li>
      <li><a href="#" class="sections-nav__links">Online</a></li>
      <li><a href="#" class="sections-nav__links">Marketing</a></li>
      <li><a href="#" class="sections-nav__links">Sales</a></li>
      <li><a href="#" class="sections-nav__links">TalentMatch</a></li>
      <li><a href="#" class="sections-nav__links">Alumni</a></li>
      <li><a href="#" class="sections-nav__links-last">All</a></li>
    </ul>
  </div>
</div>